body {
    color: pink;
    background-color: black;
}

li {
    list-style: none;
}

#messageContainer {
    display: flex;
    flex-direction: column-reverse;
    height: 55vh;
    overflow-y: scroll;
}